
.container {
    background-color: rgb(65, 64, 64);
}

.row {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dado {
    margin: 30px;
    width: 200px;
    height: 200px;
    background-color: teal;
    border-radius: 20px;
}